<% content_for :title, "New Image Set" %>

<div class="w-full max-w-lg mx-auto space-y-6 py-6">
  <h1 class="heading-page">New Image Set</h1>
  <%= render "form", image_set: @image_set %>
  <%= link_to "Cancel", image_sets_path, class: "btn-ghost" %>
</div>
