<div data-controller="guess-map"
     class="<%= local_assigns[:class] || 'w-full h-[60vh]' %>">
  <div data-guess-map-target="container" class="w-full h-full rounded-md border border-gray-200"></div>
</div>
