<% content_for :title, "Showing guess" %>

<div class="md:w-2/3 w-full">
  <h1 class="heading-page">Showing guess</h1>

  <%= render @guess %>

  <%= link_to "Back to guesses", guesses_path, class: "btn-secondary w-full sm:w-auto" %>
  <% if admin? %>
    <%= link_to "Edit this guess", edit_guess_path(@guess), class: "btn-secondary w-full sm:w-auto mt-2 sm:mt-0 sm:ml-2" %>
    <%= button_to "Destroy this guess", @guess, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger w-full", data: { turbo_confirm: "Are you sure?" } %>
  <% end %>
</div>
