<div id="<%= dom_id game %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= game.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Score:</strong>
    <%= game.score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Completed at:</strong>
    <%= game.completed_at %>
  </div>
</div>
