<% content_for :title, "New game" %>

<div class="md:w-2/3 w-full">
  <h1 class="heading-page">New game</h1>

  <%= render "form", game: @game %>

  <%= link_to "Back to games", games_path, class: "btn-secondary w-full sm:w-auto mt-2 sm:mt-0 sm:ml-2" %>
</div>
