<% content_for :title, "Images map" %>

<div class="w-full space-y-4">
  <div class="flex justify-between items-center">
    <h1 class="heading-page">Images map (<%= @image_data.size %>)</h1>
    <%= link_to "List view", images_path, class: "btn-secondary" %>
  </div>
  <%= render "shared/image_map", points: @image_data, element_id: "images-map" %>
</div>
