<% content_for :title, "Showing image" %>

<div class="md:w-2/3 w-full">
  <h1 class="heading-page">Showing image</h1>

  <%= render @image %>

  <%= link_to "Back to images", images_path, class: "btn-secondary w-full sm:w-auto" %>
  <% if admin? %>
    <%= link_to "Edit this image", edit_image_path(@image), class: "btn-secondary w-full sm:w-auto mt-2 sm:mt-0 sm:ml-2" %>
    <%= button_to "Destroy this image", @image, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn-danger w-full", data: { turbo_confirm: "Are you sure?" } %>
  <% end %>
</div>
